{% extends 'base.html'%}
{% block content %}
 <!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >Авторизация</h3>
		<h4><a href="index.html">Главная</a><label>/</label>Авторизация</h4>
		<div class="clearfix"> </div>
	</div>
</div>
<!--login-->

	<div class="login">
	
		<div class="main-agileits">
				<div class="form-w3agile">
					<h3>Login</h3>
					<form action="#" method="post">
						{% csrf_token %}
						{{form.non_field_errors}}
						{{form.username.errors}}<br>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							{{form.username}}
							<div class="clearfix"></div>
						</div>
						{{form.password.errors}}<br>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							{{form.password}}
							<div class="clearfix"></div>
						</div>
						<input type="submit" value="Подтвердить">
					</form>
				</div>
				<div class="forg">
					<a href="{% url 'register' %}" class="forg-right">Регистрация</a>
				<div class="clearfix"></div>
				</div>
			</div>
		</div>
<!--footer-->
{% endblock %}