        {% if type == 'index' %}
            {% for i in cathegorys %}
            <div class="col-md-4 m-w3ls">
			<div class="col-md1 ">
				<a href="{{i.get_absolute_url}}">
					<img src="{{i.photo.url}}" class="img-responsive index_cathegory" alt="">
					<div class="big-sa">
						<h6>Категория</h6>
						<h3>{{i.name}}</h3>
					</div>
				</a>
			</div>
		</div>
            {% endfor %}
        {% else %}
            {% for i in cathegorys %}
		    <div class="col-md-4 kic-top1">
			    <a href="{{ i.get_absolute_url }}">
				    <img src="{{i.photo.url}}" class="kitchen_cathegory" alt="">
			    </a>
			    <h6>{{i.name}}</h6>
		    </div>
        {% endfor %}
        {% endif %}